__pycache__/
*.py[cod]
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

.venv/
venv/
ENV/
env/

.idea/
.vscode/

logs/
*.log

uploads/
videos/
posters/
generated_posters/
poster_*.png

config.json

启动服务.bat
